@model MicroLabsFinal.Models.Usuario

@{
    ViewBag.Title = "Accesso";
    Layout = null;
}

<!DOCTYPE html>

<html>
<
<body>
    <div>



        @using (Html.BeginForm("LogOut", "Home", FormMethod.Post)) { }











    </div>
</body>
</html>
